/*MAPAS*/
/* FIN MAPAS */
/* CLASES GENERALES */
.margen_top {
  margin-top: 12vh; }

.pp {
  padding-top: 30px; }

.center {
  text-align: center; }

hr {
  opacity: 1;
  border: solid white 0.5px; }

.pading_0 {
  padding: 0; }

.active {
  color: white; }

/* FIN CLASES GENERALES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.body_index {
  background-image: linear-gradient(115deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../assets/images/fondoindex3.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.959);
  z-index: calc(4);
  width: 100%; }
  .header .logo {
    height: 50px; }
  .header nav .container ul {
    display: flex;
    list-style: none;
    gap: 40px;
    width: 100%;
    justify-content: end;
    height: 100%;
    margin-bottom: none; }
    .header nav .container ul .letras_navegador {
      color: gray;
      text-decoration: none;
      font-family: "Poppins", sans-serif;
      font-weight: 600; }
      .header nav .container ul .letras_navegador:hover {
        color: white; }

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  height: 12vh;
  color: gray;
  width: 100%;
  align-items: center; }
  footer .derechos {
    color: gray;
    font-family: "Poppins", sans-serif;
    font-size: 15px; }
  footer .redes {
    color: gray; }
  footer .hover-instagram:hover {
    color: deeppink; }
  footer .hover-whatsapp:hover {
    color: aquamarine; }
  footer .hover-facebook:hover {
    color: steelblue; }

.pri-sec {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  align-items: center; }

/* Segunda Seccion*/
.seg-sec {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }
  .seg-sec .box_imaganes_arte {
    width: 50%;
    height: 40%; }
  .seg-sec .box_arte {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%; }
  .seg-sec .box_parrafo_arte {
    width: 80%;
    align-items: center; }

/* Fin segunda seccion*/
.ter-sec {
  min-height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(115deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../assets/images/Proyecto_nuevo_foto_2.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position-y: center;
  margin-right: 0; }

.me_presento {
  width: 40%;
  justify-content: center;
  margin: auto;
  margin-left: 5%; }

.seccion_sobremi {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; }
  .seccion_sobremi .box_sobremi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%; }
    .seccion_sobremi .box_sobremi .parrafo_sobremi {
      padding: 2%; }

.seccion_galeria {
  min-height: 100vh;
  padding-top: 5%; }
  .seccion_galeria .h1_galeria {
    text-align: center; }
  .seccion_galeria .box_galeria {
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center; }
    .seccion_galeria .box_galeria .box_galeria_carrousel_fotografia {
      width: 40%; }
    .seccion_galeria .box_galeria .box_galeria_carrousel_tatuajes {
      width: 40%; }

.seccion_contacto {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8%; }
  .seccion_contacto .h1_contacto {
    text-align: center; }
  .seccion_contacto .box_contacto {
    background-color: rgba(0, 0, 0, 0.808);
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap; }
  .seccion_contacto .form_contacto {
    display: inline-block;
    flex-direction: column;
    justify-content: none;
    flex-wrap: wrap;
    width: 100%;
    align-items: start;
    gap: 5px; }

.seccion_servicios {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-top: 5%; }
  .seccion_servicios .h1_servicios {
    text-align: center; }
  .seccion_servicios .box_servicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5%;
    width: 85%;
    gap: 5px; }

/* botones*/
.button {
  padding: 0.5em 1em;
  border: 2px solid white;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: white; }

.button::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: white;
  transition: 0.5s ease;
  display: block;
  z-index: -1; }

.button:hover::before {
  width: 105%; }

.button:hover {
  color: black; }

.input_estilo {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0;
  color: white; }

.input_estilo:focus {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0;
  outline: none;
  color: white;
  box-shadow: none; }

/* fin botones*/
/*caroucel*/
.carousel-item {
  height: 60vh;
  padding-left: 5%;
  padding-right: 5%; }

.carousel-item img {
  height: 100%;
  object-fit: cover; }

/*fin caroucel*/
/*tutulos*/
.title {
  font-family: "Poppins", sans-serif;
  font-size: 100px;
  border-bottom: 3px solid white;
  font-weight: 600;
  letter-spacing: 8px;
  color: white; }

/* Fin Titulos */
/* Letra parrafo*/
.l-principal {
  color: white;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px; }

/* fin letra parrafo */
/* Subtitulos */
.subtitle {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 4px; }

.subprincipal {
  font-size: 35px; }

/* Fin Subtitulos*/
@media (max-width: 992px) {
  .header nav ul {
    align-items: center;
    background-color: black; }
    .header nav ul nav ul {
      align-items: center;
      background-color: black; } }

@media (max-width: 768px) {
  .seccion_galeria {
    min-height: 100vh; }
    .seccion_galeria .h1_galeria {
      text-align: center; }
    .seccion_galeria .box_galeria {
      width: 100%;
      min-height: 90vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 5%; }
      .seccion_galeria .box_galeria .box_galeria_carrousel_fotografia {
        width: 90%;
        margin-top: 5%; }
      .seccion_galeria .box_galeria .box_galeria_carrousel_tatuajes {
        width: 90%;
        margin-top: 5%;
        margin-bottom: 5%; }
  .l-principal {
    text-align: center; }
  .seg-sec {
    flex-direction: column-reverse;
    width: 100%; }
    .seg-sec .box_parrafo_arte {
      width: 90%;
      align-items: center;
      display: flex;
      flex-direction: column;
      text-align: center; }
    .seg-sec .box_arte {
      width: 100%;
      margin-left: 0;
      margin-bottom: 5%;
      align-items: center; }
    .seg-sec .box_imaganes_arte {
      width: 90%;
      height: 40%; }
  .title_center_mobile {
    text-align: center; }
  .title {
    font-size: 50px; }
  .descripcion_title {
    font-size: 20px; }
  .me_presento {
    width: 90%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .subtitle {
    text-align: center; } }

@media (max-width: 576px) {
  footer .derechos {
    color: gray;
    font-family: "Poppins", sans-serif;
    font-size: 10px; } }
