* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.body_index {
  background-image: linear-gradient(
      115deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(../assets/images/fondoindex3.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
/*.grilla {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10vh 200vh 10vh;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
/* Navegador */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.959);
  z-index: calc(4);
  width: 100%;
  height: 10vh;
}
.header nav ul {
  display: flex;
  list-style: none;
  gap: 40px;
  width: 100%;
  justify-content: end;

  height: 100%;

  margin-bottom: none;
}

.navegador {
  color: gray;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.navegador:hover {
  color: white;
}
.active {
  color: white;
}
.margen_top {
  margin-top: 12vh;
}
/* fin navegador*/
/* Titulos */
.title {
  font-family: "Poppins", sans-serif;
  font-size: 100px;
  padding-top: 30vh;
  font-weight: 600;
  text-decoration: 4px underline;
  letter-spacing: 8px;
  color: white;
}
/* Fin Titulos */
/* Letra parrafo*/
.l-principal {
  color: white;
  font-family: "Poppins", sans-serif;

  letter-spacing: 1px;
}
.pp {
  padding-top: 30px;
}

/* Fin letra parrafo*/
/* Subtitulos */
.subtitle {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 4px;
}
.subprincipal {
  font-size: 35px;
}
/* Fin Subtitulos*/
/* botones*/

.button {
  padding: 0.5em 1em;
  border: 2px solid white;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: white;
}

.button::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: white;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.button:hover::before {
  width: 105%;
}

.button:hover {
  color: #111;
}
.input_estilo {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0;
}
.input_estilo:focus {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0;
  outline: none;
}
/* fin botones*/
/* Primera seccion*/
.pri-sec {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* Fin primera seccion*/
/* Segunda Seccion*/
.seg-sec {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
/* Fin segunda seccion*/
/* Tercera seccion*/
.ter-sec {
  min-height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: row;

  background-image: linear-gradient(
      115deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(../assets/images/Proyecto\ nuevo\ foto\ 2.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position-y: center;
  margin-right: 0;
}
.me_presento {
  width: 40%;

  justify-content: center;

  margin: auto;
  margin-left: 5%;
}

.box_arte {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-left: 5%;
}
.box_parrafo_arte {
  width: 80%;
  align-items: center;
}
.box_imaganes_arte {
  width: 50%;
  height: 40%;
}
/*caroucel*/
.carousel-item {
  height: 60vh;
  padding-left: 5%;
  padding-right: 5%;
}
.carousel-item img {
  height: 100%;
  object-fit: cover;
}
/*fin caroucel*/
/* Fin tercera seccion*/
.center {
  text-align: center;
}
/* footer */
footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  height: 12vh;
  color: gray;
  width: 100%;
  align-items: center;

  justify-content: center;
}

.derechos {
  color: gray;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}
.redes {
  color: gray;
}
.hover-instagram:hover {
  color: deeppink;
}
.hover-whatsapp:hover {
  color: aquamarine;
}
.hover-facebook:hover {
  color: steelblue;
}

/* Fin Footer*/
.seccion_galeria {
  min-height: 100vh;
}
.box_galeria {
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box_galeria_carrousel_fotografia {
  width: 40%;
}
.box_galeria_carrousel_tatuajes {
  width: 40%;
}
.h1_galeria {
  text-align: center;
}
.h1_servicios {
  text-align: center;
}
.h1_contacto {
  text-align: center;
}
.album {
  color: white;
  padding-top: 40vh;
}
.seccion_sobremi {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.box_sobremi {
  display: flex;
  flex-direction: column;

  width: 85%;
  justify-content: center;
}
.parrafo_sobremi {
  padding: 2%;
}
.seccion_contacto {
  min-height: 100vh;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.seccion_servicios {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.box_servicios {
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  width: 85%;
  justify-content: center;

  gap: 5px;
}

.imagenes_index {
  width: 200px;
  height: 200px;
}
.box_contacto {
  background-color: rgba(0, 0, 0, 0.808);
  display: flex;

  padding: 10px;
  margin-bottom: 20px;

  flex-wrap: wrap;
}
.form_contacto {
  display: inline-block;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}
hr {
  opacity: 1;
  border: solid white 0.5px;
}

@media (max-width: 992px) {
  .header nav ul {
    align-items: center;
    background-color: rgb(0, 0, 0);
  }
}
@media (max-width: 576px) {
  .derechos {
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  .box_galeria {
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
  }
  .box_galeria_carrousel_fotografia {
    width: 90%;
    margin-top: 5%;
  }
  .box_galeria_carrousel_tatuajes {
    width: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .seg-sec {
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .l-principal {
    text-align: center;
  }
  .box_parrafo_arte {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .title_center_mobile {
    text-align: center;
  }
  .box_imaganes_arte {
    width: 90%;
    height: 40%;
  }
  .me_presento {
    width: 90%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title {
    font-size: 50px;
  }
  .descripcion_title {
    font-size: 20px;
  }
}
