body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.body_index {
  background-image: linear-gradient(
      115deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(../assets/images/fondoindex3.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
