/* botones*/

.button {
  padding: 0.5em 1em;
  border: 2px solid white;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: white;
}

.button::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: white;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.button:hover::before {
  width: 105%;
}

.button:hover {
  color: #111;
}
.input_estilo {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0;
}
.input_estilo:focus {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0;
  outline: none;
}
/* fin botones*/
