/*tutulos*/
.title {
  font-family: "Poppins", sans-serif;
  font-size: 100px;
  border-bottom: 3px solid white;
  font-weight: 600;

  letter-spacing: 8px;
  color: white;
}
/* Fin Titulos */
/* Letra parrafo*/
.l-principal {
  color: white;
  font-family: "Poppins", sans-serif;

  letter-spacing: 1px;
}
/* fin letra parrafo */
/* Subtitulos */
.subtitle {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 4px;
}
.subprincipal {
  font-size: 35px;
}
/* Fin Subtitulos*/
