.header {
  display: flex;
  @include alineacion-flex(space-between, $center);
  position: fixed;
  background-color: $color-header;
  z-index: calc(4);
  width: 100%;
  .logo {
    height: 50px;
  }

  nav {
    .container {
      ul {
        display: flex;
        list-style: none;
        gap: 40px;
        width: 100%;
        justify-content: end;
        height: 100%;
        margin-bottom: none;

        .letras_navegador {
          color: gray;
          text-decoration: none;
          font-family: "Poppins", sans-serif;
          font-weight: 600;
          &:hover {
            color: white;
          }
        }
      }
    }
  }
}
