.seccion_servicios {
  min-height: $Min-height;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-top: 5%;
  .h1_servicios {
    text-align: center;
  }
  .box_servicios {
    @include flex-direction-justificar(column, $flex, $center);
    padding-top: 5%;
    width: 85%;
    gap: 5px;
  }
}
