.seccion_galeria {
  min-height: $Min-height;
  padding-top: 5%;
  .h1_galeria {
    text-align: center;
  }

  .box_galeria {
    width: 100%;
    min-height: ($Min-height - 10);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;

    .box_galeria_carrousel_fotografia {
      width: 80%;
    }

    .box_galeria_carrousel_tatuajes {
      width: 80%;
    }
  }
}
