.seccion_sobremi {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  .box_sobremi {
    @include flex-direction-justificar(column, $flex, $center);
    width: 85%;
    .parrafo_sobremi {
      padding: 2%;
    }
  }
}
