@media (max-width: 992px) {
  .header nav ul {
    align-items: center;
    background-color: rgb(0, 0, 0);

    nav {
      border-bottom: 5px solid white;
      ul {
        align-items: center;
        background-color: rgb(0, 0, 0);
      }
    }
  }
}
@media (max-width: 768px) {
  .seccion_galeria {
    min-height: 100vh;
    .h1_galeria {
      text-align: center;
    }
    .box_galeria {
      width: 100%;
      min-height: 90vh;
      @include flex-direction-justificar(column);
      align-items: center;
      margin-top: 5%;
      .box_galeria_carrousel_fotografia {
        width: 90%;
        margin-top: 5%;
      }
      .box_galeria_carrousel_tatuajes {
        width: 90%;
        margin-top: 5%;
        margin-bottom: 5%;
      }
    }
  }

  .l-principal {
    text-align: center;
  }
  .seg-sec {
    flex-direction: column-reverse;
    width: 100%;
    .box_parrafo_arte {
      width: 90%;

      align-items: center;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .box_arte {
      width: 100%;
      margin-left: 0;
      margin-bottom: 5%;

      align-items: center;
    }
    .box_imaganes_arte {
      width: 90%;
      height: 40%;
    }
  }

  .title_center_mobile {
    text-align: center;
  }

  .title {
    font-size: 50px;
  }
  .descripcion_title {
    font-size: 20px;
  }

  .me_presento {
    width: 90%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subtitle {
    text-align: center;
  }
}

@media (max-width: 576px) {
  footer {
    .derechos {
      color: gray;
      font-family: "Poppins", sans-serif;
      font-size: 10px;
    }
  }
}
