$color-header: rgba(0, 0, 0, 0.959);
$color-footer: rgb(0, 0, 0);
$color-letras: white;
$color-letras-header-footer: gray;
$texto-fuente: "Poppins", sans-serif;
$center: center;
$flex: flex;
$Min-height: 100vh;

/*MAPAS*/
$colores-redes: (
  instagram: deeppink,
  face: steelblue,
  whatsapp: aquamarine,
);
/* FIN MAPAS */

/* CLASES GENERALES */
.margen_top {
  margin-top: (6vh * 2);
}
.pp {
  padding-top: (60px / 2);
}
.center {
  text-align: center;
}

hr {
  opacity: 1;
  border: solid white (1px / 2);
}
.pading_0 {
  padding: 0;
}
.active {
  color: white;
}
/* FIN CLASES GENERALES */
